<footer>
    <div class="f-info">
        <div class="f-info-socials">
         <a href="https://www.facebook.com/profile.php?id=100031998938618"> 
              <i class="fa-brands fa-facebook" ></i>
        </a>
        <a href="https://www.instagram.com/om.0209/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://x.com/Ompatel02904">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        </div>
        <div> &copy; EnjoyWay Private Limited</div>
        <div class="f-info-links">
            <a href="https://www.google.com/search?q=privacy+for+online+hotel+booking&rlz=1C1NDCM_enIN1088IN1088&oq=privacy+for+online+hotel&gs_lcrp=EgZjaHJvbWUqBwgBECEYoAEyBggAEEUYOTIHCAEQIRigATIHCAIQIRigATIHCAMQIRigATIHCAQQIRigATIHCAUQIRifBTIHCAYQIRifBTIHCAcQIRifBTIHCAgQIRifBTIHCAkQIRifBdIBCTEwMDY3ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8">Privacy</a>
            <a href="https://www.thehoteldiplomat.com/standard-terms/">Terms</a>
        </div>
    </div>
</footer>